<h1><%= t("view.task.headline_new") %></h1>

<div class="nav justify-content-end">
  <%= link_to t("view.task.link_index"), tasks_path, class: "nav-link" %>
</div>

<%= render partial: "form", locals: { task: @task } %>